/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* line 6, ../sass/print.scss */
* {
  background: transparent !important;
  color: #000 !important;
  /* Black prints faster: h5bp.com/s */
  box-shadow: none !important;
  text-shadow: none !important; }

/* line 14, ../sass/print.scss */
a,
a:visited {
  text-decoration: underline; }

/* line 18, ../sass/print.scss */
a[href]:after {
  content: " (" attr(href) ")"; }

/* line 22, ../sass/print.scss */
abbr[title]:after {
  content: " (" attr(title) ")"; }

/* line 26, ../sass/print.scss */
h1, h2, h3, h4, h5, h6 {
  color: #000 !important; }

/*
 * Don't show links for images, or javascript/internal links
 */
/* line 36, ../sass/print.scss */
.ir a:after,
a[href^="javascript:"]:after,
a[href^="#"]:after {
  content: ""; }

/* line 41, ../sass/print.scss */
pre,
blockquote {
  border: 1px solid #999;
  page-break-inside: avoid; }

/* line 46, ../sass/print.scss */
thead {
  display: table-header-group;
  /* h5bp.com/t */ }

/* line 51, ../sass/print.scss */
tr,
img {
  page-break-inside: avoid; }

/* line 55, ../sass/print.scss */
img {
  max-width: 100% !important; }

@page {
  margin: 1cm; }

/* line 65, ../sass/print.scss */
p,
h2,
h3 {
  orphans: 3;
  widows: 3; }

/* line 71, ../sass/print.scss */
h2,
h3 {
  page-break-after: avoid; }
