/* ================================================== 
	URL: JonTrujillo.com
	Author: Jon Trujillo
================================================== */
/* normalize.css v1.0.1 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
/* line 21, ../sass/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

/*
 * Corrects `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
/* line 31, ../sass/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 42, ../sass/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/*
 * Addresses styling for `hidden` attribute not present in IE 7/8/9, Firefox 3,
 * and Safari 4.
 * Known issue: no IE 6 support.
 */
/* line 53, ../sass/_normalize.scss */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 68, ../sass/_normalize.scss */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/*
 * Addresses `font-family` inconsistency between `textarea` and other form
 * elements.
 */
/* line 83, ../sass/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

/*
 * Addresses margins handled incorrectly in IE 6/7.
 */
/* line 91, ../sass/_normalize.scss */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
/* line 103, ../sass/_normalize.scss */
a:focus {
  outline: thin dotted; }

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 */
/* line 112, ../sass/_normalize.scss */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE 6/7.
 * Addresses font sizes within `section` and `article` in Firefox 4+, Safari 5,
 * and Chrome.
 */
/* line 126, ../sass/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* line 131, ../sass/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

/* line 136, ../sass/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0; }

/* line 141, ../sass/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0; }

/* line 146, ../sass/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

/* line 151, ../sass/_normalize.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

/*
 * Addresses styling not present in IE 7/8/9, Safari 5, and Chrome.
 */
/* line 160, ../sass/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/*
 * Addresses style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
 */
/* line 169, ../sass/_normalize.scss */
b,
strong {
  font-weight: bold; }

/* line 173, ../sass/_normalize.scss */
blockquote {
  margin: 1em 40px; }

/*
 * Addresses styling not present in Safari 5 and Chrome.
 */
/* line 181, ../sass/_normalize.scss */
dfn {
  font-style: italic; }

/*
 * Addresses styling not present in IE 6/7/8/9.
 */
/* line 189, ../sass/_normalize.scss */
mark {
  background: #ff0;
  color: #000; }

/*
 * Addresses margins set differently in IE 6/7.
 */
/* line 199, ../sass/_normalize.scss */
p,
pre {
  margin: 1em 0; }

/*
 * Corrects font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
/* line 210, ../sass/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/*
 * Improves readability of pre-formatted text in all browsers.
 */
/* line 220, ../sass/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/*
 * Addresses CSS quotes not supported in IE 6/7.
 */
/* line 230, ../sass/_normalize.scss */
q {
  quotes: none; }

/*
 * Addresses `quotes` property not supported in Safari 4.
 */
/* line 239, ../sass/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none; }

/*
 * Addresses inconsistent and variable font size in all browsers.
 */
/* line 248, ../sass/_normalize.scss */
small {
  font-size: 80%; }

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 257, ../sass/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 264, ../sass/_normalize.scss */
sup {
  top: -0.5em; }

/* line 268, ../sass/_normalize.scss */
sub {
  bottom: -0.25em; }

/* ==========================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE 6/7.
 */
/* line 283, ../sass/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0; }

/* line 287, ../sass/_normalize.scss */
dd {
  margin: 0 0 0 40px; }

/*
 * Addresses paddings set differently in IE 6/7.
 */
/* line 297, ../sass/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px; }

/*
 * Corrects list images handled incorrectly in IE 7.
 */
/* line 306, ../sass/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improves image quality when scaled in IE 7.
 */
/* line 320, ../sass/_normalize.scss */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/*
 * Corrects overflow displayed oddly in IE 9.
 */
/* line 329, ../sass/_normalize.scss */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
/* line 341, ../sass/_normalize.scss */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE 6/7.
 */
/* line 353, ../sass/_normalize.scss */
form {
  margin: 0; }

/*
 * Define consistent border, margin, and padding.
 */
/* line 361, ../sass/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/*
 * 1. Corrects color not being inherited in IE 6/7/8/9.
 * 2. Corrects text not wrapping in Firefox 3.
 * 3. Corrects alignment displayed oddly in IE 6/7.
 */
/* line 373, ../sass/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/*
 * 1. Corrects font size not being inherited in all browsers.
 * 2. Addresses margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improves appearance and consistency in all browsers.
 */
/* line 390, ../sass/_normalize.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/*
 * Addresses Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 403, ../sass/_normalize.scss */
button,
input {
  line-height: normal; }

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
/* line 420, ../sass/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/*
 * Re-set default cursor for disabled elements.
 */
/* line 431, ../sass/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default; }

/*
 * 1. Addresses box sizing set to content-box in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 * 3. Removes excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
/* line 443, ../sass/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 456, ../sass/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/*
 * Removes inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 469, ../sass/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/*
 * Removes inner padding and border in Firefox 3+.
 */
/* line 478, ../sass/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Removes default vertical scrollbar in IE 6/7/8/9.
 * 2. Improves readability and alignment in all browsers.
 */
/* line 488, ../sass/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
/* line 501, ../sass/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* line 9, ../sass/_base.scss */
html,
button,
input,
select,
textarea {
  color: #222; }

/* line 13, ../sass/_base.scss */
body {
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */
/* line 24, ../sass/_base.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

/* line 29, ../sass/_base.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
/* line 38, ../sass/_base.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
/* line 51, ../sass/_base.scss */
img {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
/* line 59, ../sass/_base.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
/* line 69, ../sass/_base.scss */
textarea {
  resize: vertical; }

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
/* line 77, ../sass/_base.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/*
	These are easy to forget
*/
/* line 47, ../sass/_grid.scss */
::selection {
  background: red;
  color: white; }

/* line 51, ../sass/_grid.scss */
::-moz-selection {
  background: red;
  color: white; }

/* line 56, ../sass/_grid.scss */
img::selection {
  background: transparent; }

/* line 59, ../sass/_grid.scss */
img::-moz-selection {
  background: transparent; }

/* line 63, ../sass/_grid.scss */
body {
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0.62); }

/*
	An easy way to zoom your entire layout in or out (as long as it's set in ems).
	Just change the media queries to activate them.
	Assuming your base font-size is 16:
	- the first one zooms out by a factor of (16-2)/16 = 0.875
	- the second one zooms in by a factor of (16+2)/16 = 1.125  
*/
@media screen and (max-width: 1px) {
  /* line 78, ../sass/_grid.scss */
  body {
    font-size: 0.875em; } }
@media screen and (max-width: 1px) {
  /* line 84, ../sass/_grid.scss */
  body {
    font-size: 1.125em; } }
/* line 1, ../sass/_type.scss */
body {
  font-family: freight-sans-pro;
  font-style: normal;
  font-weight: 400; }

/* line 7, ../sass/_type.scss */
blockquote {
  color: #b75d09;
  font-weight: 300;
  font-style: italic;
  text-indent: 1em;
  margin-top: 0em;
  margin-bottom: 0em; }

/* line 16, ../sass/_type.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "quatro-slab-1","quatro-slab-2";
  font-style: normal;
  font-weight: 400; }

/* line 23, ../sass/_type.scss */
h1 {
  font-size: 3em;
  line-height: 1.2291666666666667em;
  -moz-font-feature-settings: 'liga=1';
  -ms-font-feature-settings: 'liga' 1;
  -webkit-font-feature-settings: 'liga' 1;
  -o-font-feature-settings: 'liga' 1;
  font-feature-settings: 'liga' 1;
  color: #3b85af;
  margin-bottom: 0.25em;
  margin-top: 0.017241379310344827em; }

/* line 36, ../sass/_type.scss */
h2 {
  color: #6b6b6b;
  margin-bottom: 1em;
  font-size: 1.5em;
  line-height: 1.5em;
  -moz-font-feature-settings: 'liga=1';
  -ms-font-feature-settings: 'liga' 1;
  -webkit-font-feature-settings: 'liga' 1;
  -o-font-feature-settings: 'liga' 1;
  font-feature-settings: 'liga' 1; }

/* line 48, ../sass/_type.scss */
h3 {
  margin-bottom: 13px;
  font-size: 1.25em;
  line-height: 1.5em; }

/* line 54, ../sass/_type.scss */
h4 {
  font-style: normal;
  color: #b75d09;
  margin-bottom: 1em; }

/* line 60, ../sass/_type.scss */
h5 {
  font-size: 1.125em;
  margin-bottom: 1em; }

/* line 65, ../sass/_type.scss */
h6 {
  margin-top: 1em;
  margin-bottom: 0px; }

/* line 70, ../sass/_type.scss */
h6 a:link {
  text-decoration: none;
  color: #3b85af; }

/* line 75, ../sass/_type.scss */
h6 a:hover {
  color: #25546d;
  text-decoration: underline; }

/* line 80, ../sass/_type.scss */
p {
  font-style: normal;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0px;
  text-transform: none;
  margin-bottom: 1.5em;
  margin-top: NaNem;
  color: #6b6b6b; }

/* line 91, ../sass/_type.scss */
p a:link {
  color: #3b85af;
  text-decoration: none; }

/* line 96, ../sass/_type.scss */
p a:hover {
  color: #25546d;
  text-decoration: underline; }

/* line 14, ../sass/screen.scss */
body {
  background-image: url("/img/white_paperboard.png"); }

/* line 19, ../sass/screen.scss */
#wrapper {
  width: 16.5em;
  margin: 1em auto; }

/* line 24, ../sass/screen.scss */
.project {
  padding: .5em;
  border: 1px solid #ddd;
  margin: .5em;
  box-sizing: border-box;
  float: left;
  box-shadow: 0px 5px 5px #DDD; }
  /* line 34, ../sass/screen.scss */
  .project h4, .project p {
    visibility: hidden;
    opacity: 0;
    transition: all .5s;
    -moz-transition: all .5s;
    /* Firefox 4 */
    -webkit-transition: all .5s;
    /* Safari and Chrome */
    -o-transition: all .5s;
    /* Opera */ }
  /* line 46, ../sass/screen.scss */
  .project:hover h4, .project:hover p {
    visibility: visible;
    opacity: 1; }

/* line 54, ../sass/screen.scss */
.page {
  overflow: hidden;
  *zoom: 1;
  clear: both;
  position: absolute;
  padding: 1em;
  right: 3em;
  left: 3em;
  opacity: 0;
  overflow-y: auto;
      overflow-x: hidden;
  border: 1px solid #DDD;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-perspective-origin: 100% 0%;
  -moz-perspective-origin: 100% 0%;
  -ms-perspective-origin: 100% 0%;
  -o-perspective-origin: 100% 0%;
  perspective-origin: 100% 0%; }
  /* line 70, ../sass/screen.scss */
  .page:first-child {
    margin-top: 0%; }
  /* line 74, ../sass/screen.scss */
  .page:target {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%); }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
/* line 9, ../sass/_helpers.scss */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
/* line 18, ../sass/_helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
/* line 35, ../sass/_helpers.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
/* line 48, ../sass/_helpers.scss */
.invisible {
  visibility: hidden; }

@media print {
  /* Welcome to Compass. Use this file to define print styles.
   * Import this file using the following HTML or equivalent:
   * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
  /* line 6, ../sass/print.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  /* line 14, ../sass/print.scss */
  a,
  a:visited {
    text-decoration: underline; }

  /* line 18, ../sass/print.scss */
  a[href]:after {
    content: " (" attr(href) ")"; }

  /* line 22, ../sass/print.scss */
  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /* line 26, ../sass/print.scss */
  h1, h2, h3, h4, h5, h6 {
    color: #000 !important; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  /* line 36, ../sass/print.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  /* line 41, ../sass/print.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /* line 46, ../sass/print.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  /* line 51, ../sass/print.scss */
  tr,
  img {
    page-break-inside: avoid; }

  /* line 55, ../sass/print.scss */
  img {
    max-width: 100% !important; }

  @page {
    margin: 1cm; }

  /* line 65, ../sass/print.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  /* line 71, ../sass/print.scss */
  h2,
  h3 {
    page-break-after: avoid; } }
@media only screen and (min-width: 480px) {
  /* 480 =================================================== */
  /* line 22, ../sass/_480.scss */
  #wrapper {
    width: 21em; }

  /* line 26, ../sass/_480.scss */
  .project {
    width: 16.5em;
    height: 16.5em; } }
@media only screen and (min-width: 600px) {
  /* 600 =================================================== */
  /* line 19, ../sass/_600.scss */
  #wrapper {
    width: 34.5em; } }
@media only screen and (min-width: 768px) {
  /* 768 =================================================== */
  /* line 19, ../sass/_768.scss */
  #wrapper {
    width: 43.5em; } }
@media only screen and (min-width: 992px) {
  /* 992 =================================================== */
  /* line 19, ../sass/_992.scss */
  #wrapper {
    width: 52.5em; } }
@media only screen and (min-width: 1382px) {
  /* 1382 =================================================== */
  /* line 14, ../sass/_1382.scss */
  body {
    max-width: 1440px;
    margin: 2em auto; }

  /* line 19, ../sass/_1382.scss */
  #wrapper {
    width: 70.5em; }

  /* line 23, ../sass/_1382.scss */
  .project {
    width: 21em; } }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* 2x =================================================== */ }
