body { 
        font-family: freight-sans-pro; 
        font-style: normal; 
        font-weight: 400; 
    }

    blockquote { 
        color: rgba(183, 93, 9, 1.00); 
        font-weight: 300; 
        font-style: italic; 
        text-indent: 1em; 
        margin-top: 0em; 
        margin-bottom: 0em; 
    }

    h1,h2,h3,h4,h5,h6{
        font-family: "quatro-slab-1","quatro-slab-2";
        font-style: normal; 
        font-weight: 400; 

    }

    h1 { 
        font-size: 3em; 
        line-height: 1.2291666666666667em; 
        -moz-font-feature-settings: 'liga=1'; 
        -ms-font-feature-settings: 'liga' 1; 
        -webkit-font-feature-settings: 'liga' 1; 
        -o-font-feature-settings: 'liga' 1;
        font-feature-settings: 'liga' 1; 
        color: rgba(59, 133, 175, 1.00); 
        margin-bottom: 0.25em; 
        margin-top: 0.017241379310344827em;
    }

    h2 { 
        color: rgba(107, 107, 107, 1.00); 
        margin-bottom: 1em; 
        font-size: 1.5em; 
        line-height: 1.5em; 
        -moz-font-feature-settings: 'liga=1'; 
        -ms-font-feature-settings: 'liga' 1; 
        -webkit-font-feature-settings: 'liga' 1; 
        -o-font-feature-settings: 'liga' 1;
        font-feature-settings: 'liga' 1; 
    }

    h3 { 
        margin-bottom: 13px; 
        font-size: 1.25em; 
        line-height: 1.5em; 
    }

    h4 { 
        font-style: normal; 
        color: rgba(183, 93, 9, 1.00); 
        margin-bottom: 1em; 
    }

    h5 { 
        font-size: 1.125em; 
        margin-bottom: 1em; 
    }

    h6 { 
        margin-top: 1em; 
        margin-bottom: 0px; 
    }

    h6 a:link { 
        text-decoration: none; 
        color: rgba(59, 133, 175, 1.00); 
    }

    h6 a:hover { 
        color: rgba(37, 84, 109, 1.00); 
        text-decoration: underline; 
    }

    p { 
        font-style: normal; 
        font-weight: 400; 
        line-height: 1.5em; 
        letter-spacing: 0px; 
        text-transform: none; 
        margin-bottom: 1.5em; 
        margin-top: NaNem; 
        color: rgba(107, 107, 107, 1.00); 
    }

    p a:link { 
        color: rgba(59, 133, 175, 1.00); 
        text-decoration: none; 
    }

    p a:hover { 
        color: rgba(37, 84, 109, 1.00); 
        text-decoration: underline; 
    }
    