/* ================================================== 
	URL: JonTrujillo.com
	Author: Jon Trujillo
================================================== */

@import "compass/utilities/general/clearfix";
@import "compass/css3";
@import "normalize";
@import "base";
@import "grid";
@import "type";


body{
	background-image:url("/img/white_paperboard.png");
}


#wrapper{
	@include width(4);
	margin:1em auto;
}

.project{
	padding:.5em;
	border:1px solid #ddd;
	margin:.5em;
	box-sizing:border-box;
	float:left;
	box-shadow:0px 5px 5px #DDD;



	h4,p{
		visibility:hidden;
		opacity:0;
		transition: all .5s;
		-moz-transition: all .5s; /* Firefox 4 */
		-webkit-transition: all .5s; /* Safari and Chrome */
		-o-transition: all .5s; /* Opera */
	}



	&:hover{
		h4,p{
			visibility:visible;
			opacity:1;
		}		
	}

}

.page{
	@include clearfix;
	clear:both;
	position:absolute;
	padding:1em;
	right:3em;
	left:3em;
	opacity:0;
	overflow-y: auto;
    overflow-x: hidden;
	border:1px solid #DDD;
	@include transition(all .5s);
	@include rotateY(180deg);
 	@include translateX(100%);
 	@include perspective-origin(100% 0%);

	&:first-child{
		margin-top:0%;		
	}

	&:target{
		opacity:1;
		@include rotateY(0deg);
	 	@include translateX(0%);

	}

}
    

@import "helpers";

// MEDIA QUERIES 		==============================

@media print {
@import "print";
}

// 480px
@media only screen and (min-width: 480px) {
@import "480";
}

// 600px
@media only screen and (min-width: 600px) {
@import "600";
}

// 768px
@media only screen and (min-width: 768px) {
@import "768";
}

// 992px
@media only screen and (min-width: 992px) {
@import "992";
}

// 1382px
@media only screen and (min-width: 1382px) {
@import "1382";
}

// 2x
@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
@import "2x"; }